@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al portal de Star Wars</h1>
    <img src="~/img/star_wars.png" style="height: 500px;" alt="Star Wars Logo" class="img-fluid" />
    <p class="lead">Explora el universo de Star Wars a través de nuestras películas, personajes y más.</p>
</div>
